/*头部*/
.header{
    width: 7.5rem;
    height: 1.58rem;
    background-color: #1981eb;
    padding-top: 0.29rem;
}
.container{
    width: 6.86rem;
    height: 0.39rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.container p{
    font-family: PingFang-SC-Medium;
    font-size: 0.3rem;
    color: #fdfdfd;
}
.return{
    font-family: iconfont;
    font-size: 0.39rem;
    color: white;
}
.share{
    font-family: iconfont;
    font-size: 0.39rem;
    color: #fff;
}
/*头部结束*/
/*商家提示开始*/
.tips{
    width: 7.02rem;
    height: 2.52rem;
    background-color: #fdfdfd;
    box-shadow: 0rem 0.05rem 0.15rem 0rem
    rgba(0, 0, 0, 0.36);
    border-radius: 0.1rem;
    margin: 0.24rem;
}
.tipsBoxLeft{
    width:3.51rem ;
    height: 100%;
    float: left;
}

.tipsLeft{
    width:3.51rem;
    height: 50%;
    float: left;
}
.tipsLeft img{
    width: 1.2rem;
    float: left;
    margin: 0.24rem 0.24rem 0 0.36rem;
}
.tipsLeft p{
    font-size: 0.24rem;
    color: #000000;
    margin-top: 0.2rem;
}
.tipsBoxRight{
    width: 50%;
    height: 2.52rem;
    float: right;
    padding-top: 0.96rem;
    padding-left: 0.24rem;
}
.tipsBoxRight p{
    font-size: 0.24rem;
    margin-bottom: 0.12rem;
}
/*商家提示结束*/
/*按钮开始*/
.buttomBox{
    width: 7.5rem;
    height: 1.51rem;
    background: white;
}
.buttom{
    width: 3.66rem;
    height: 1.51rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttomReturn{
    width: 1.49rem;
    height: 0.46rem;
    background-color: #1981eb;
    border-radius: 0.24rem 0.24rem 0.24rem 0.24rem;
    text-align: center;
    line-height: 0.46rem;
    color: #fff;
    font-size: 0.1rem;
}
.buttomReturn p{
    font-size: 0.24rem;
    color: #fdfdfd;
}
.pink{
    background: #eb1981;
}
/*按钮结束*/
/*推荐商家开始*/
.recommend{
    width: 7.5rem;
    height: 1.06rem;
    background-color: #eeeeee;
}
.recommend img{
    width: 4.17rem;
    margin-top: 0.24rem;
    margin-left: 1.66rem;
}